@charset "utf-8";
/* CSS Document */
.navegador{
		display: flex;
		justify-content: center;
		background-color: gray;
	}

.navegador a {
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
}

.navegador a:hover{
	background-color:black;
}

